<% layout("./layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 mt-4 mb-2 offset-3">
      <h3>Listing Details</h3>
    </div>

    <div class="card col-6 offset-3 show-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing image"
      />
      <div class="card-body mt-2">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          <%= listing.description %> <br />
          Rs.<%= listing.price.toLocaleString("en-PK") %> <br />
          <%= listing.location %> <br />
          <%= listing.country %>
        </p>
      </div>
    </div>

    <div class="btns mb-5">
      <a
        href="/listings/<%= listing.id %>/edit"
        class="btn btn-dark col-1 offset-3 edit-btn"
        >Edit</a
      >
      <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
        <button class="btn btn-dark offset-5">Delete</button>
      </form>
    </div>
  </div>
</body>
